
/* important for accessibility font reszing */
.appContainer {
  font-size: 1rem;
}

h1 {
  font-size: 3em;
}

p {
  font-size: 1.2em; /* 1.2x the size of .app-container */
}

/* accessibility controls styles */
.grey-images img {
  filter: grayscale(100%);
}

.hide-images img {
  visibility: hidden;
}

.accessible-font {
  font-family: Arial, Verdana, sans-serif;
}

.dyslexic-font {
  font-family: 'OpenDyslexic', Arial, sans-serif;
}

