.header {
  padding: 2rem 0rem 2rem 0rem;
}

.pageLink {
  font-weight: bold;
  background-color: rgb(236, 235, 235);
  text-align: center;
  padding: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.pageLink:hover {
  background-color: lightgray;
}


@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
