.header {
  padding: 2rem 0rem 2rem 0rem;
}

.pageLink {
  font-weight: bold;
  background-color: rgb(236, 235, 235);
  text-align: center;
  padding: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.pageLink:hover {
  background-color: lightgray;
}


@media (max-width: 1300px) {
  .pageLink {
  width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
